@import '_colors.scss';
@import '_shadows.scss';

// @mixin responsive-tablet {
//   @media screen and (max-width: 960px) {
//     @content;
//   }
// }

// @mixin responsive-mobile {
//   @media screen and (max-width: 720px) {
//     @content;
//   }
// }

$layout: dark;

$bg-color: #efefef;
$text-color: #101010;

@if $layout == light {
  $bg-color: #efefef;
  $text-color: #101010;
} @else if $layout == dark {
  $bg-color: #101010;
  $text-color: #efefef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background-color: $bg-color;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

h1 {
  color: $text-color;
  font-size: 72px;

  // @include responsive-tablet() {
  //   font-size: 48px;
  // }
  // @include responsive-mobile() {
  //   font-size: 12px;
  // }
  span {
    color: $cinza;
  }
}

// .link {
//   display: inline-block;
//   text-decoration: none;
//   color: $branco;
//   font-size: 24px;

//   background-color: $roxo;

//   padding: 12px 124px;
//   border-radius: 8px;
//   margin-top: 24px;

//   transition: 0.5s ease;

//   &:hover {
//     box-shadow: $box-shadow-purple;
//   }
// }

p {
  color: $text-color;
  font-size: 24px;
}
